{sub_dirs, ["rel", "apps/ecnty"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, fail_on_warning]}.
{edoc_opts, [{dir, "../../doc"}]}.
{deps, [{riak_core, "1.0.0",
         {git, "git://github.com/basho/riak_core", {tag, "1.0.0"}}},
        {eleveldb, "1.0.1",
         {git, "https://github.com/basho/eleveldb.git", {tag, "1.0.1"}}}
       ]}.
{eunit_opts, [verbose,
   {report, {eunit_surefire, [{dir, "."}]}}]}.
