%%
%% etc/app.config
%%
{platform_data_dir, "./data"}.

{ring_state_dir,        "{{platform_data_dir}}/ring"}.
{leveldb_storage_dir,   "{{platform_data_dir}}/leveldb"}.

{web_ip,                "127.0.0.1"}.
{web_port,              "8098"}.
{handoff_port,          "8099"}.

%%
%% etc/vm.args
%%
{node,                  "ecnty@127.0.0.1"}.
{cookie,                "ecnty"}.
